@import "tailwindcss";

@theme {

  --font-bellefair-regular: "Bellefair", serif;
  --font-barlow-regular: "Barlow", sans-serif;
  --font-barlow-condensed-regular: "Barlow Condensed", sans-serif;

  --color-blue-900: #0B0D17;
  --color-blue-300: #D0D6F9;

  --text-title: 9rem;
  --text-title-mob: 5rem;
  --text-subtitle: 1.75rem;
}

html,
body {
  @apply text-white bg-blue-900 font-barlow-regular text-base h-full;
}

.title {
  @apply font-bellefair-regular uppercase text-title-mob md:text-title;
}

.subtitle {
  @apply font-barlow-condensed-regular tracking-[4px] uppercase text-blue-300 text-base md:text-subtitle;
}

.para {
  @apply font-barlow-regular text-[15px] leading-[180%] md:text-base lg:text-lg;
}

.label-md {
  @apply uppercase font-barlow-condensed-regular text-sm tracking-[2px];
}

.preset-6 {
  @apply uppercase font-bellefair-regular text-subtitle;
}

.preset-8 {
  @apply uppercase font-barlow-condensed-regular text-base tracking-[2px];
}