@import "tailwindcss";

@theme {

  --font-bellefair-regular: "Bellefair", serif;
  --font-barlow-regular: "Barlow", sans-serif;
  --font-barlow-condensed-regular: "Barlow Condensed", sans-serif;

  --color-blue-900: #0B0D17;
  --color-blue-300: #D0D6F9;

  --text-title: 9rem;
  --text-title-mob: 5rem;
  --text-subtitle: 1.75rem;
}

html,
body {
  @apply text-white bg-blue-900 font-barlow-regular text-base h-full;
}

.title {
  @apply font-bellefair-regular uppercase text-title-mob md:text-title;
}
/* preset 5 is subtitle */
.subtitle {
  @apply font-barlow-condensed-regular tracking-[4px] uppercase text-blue-300 text-base md:text-xl lg:text-subtitle;
}

.preset-3 {
  @apply text-2xl md:text-[2.5rem] lg:text-[3.5rem] font-bellefair-regular uppercase;
}

.preset-4 {
  @apply text-lg md:text-2xl lg:text-[2rem] font-bellefair-regular uppercase text-white/50;
}

.para {
  @apply font-barlow-regular text-[15px] leading-[180%] md:text-base lg:text-lg text-blue-300 text-center lg:text-left;
}

.label-md {
  @apply uppercase font-barlow-condensed-regular text-sm tracking-[2px];
}

.preset-6 {
  @apply uppercase font-bellefair-regular text-subtitle;
}

.preset-8 {
  @apply uppercase font-barlow-condensed-regular text-sm md:text-base tracking-[2px];
}